attr
colorama
cryptography
docutils
filelock
gymnasium
ipython
ipywidgets
jnius==1.6.1
joblib
keyring
matplotlib
numpy
optuna
pandas
Pillow
protobuf
pyOpenSSL
pytest
PyYAML
redis
scikit_learn
selenium
selenium_wire
setuptools
Sphinx
statsmodels
torch
urllib3_secure_extra
zstandard
